USE [master]
GO
/****** Object:  Database [MeruTest]    Script Date: 08-04-2020 12.21.48 PM ******/
CREATE DATABASE [MeruTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeruTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MeruTest.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MeruTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MeruTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeruTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeruTest]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 08-04-2020 12.21.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Area](
	[AreaId] [bigint] IDENTITY(1,1) NOT NULL,
	[AreaName] [varchar](50) NULL,
	[CityId] [bigint] NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]    Script Date: 08-04-2020 12.21.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [bigint] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL,
	[State] [varchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08-04-2020 12.21.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustName] [varchar](50) NULL,
	[CustMobNo] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[SubAreaId] [bigint] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubArea]    Script Date: 08-04-2020 12.21.48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubArea](
	[SubAreaId] [bigint] IDENTITY(1,1) NOT NULL,
	[SubAreaName] [varchar](50) NULL,
	[AreaId] [bigint] NULL,
 CONSTRAINT [PK_SubArea] PRIMARY KEY CLUSTERED 
(
	[SubAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([AreaId], [AreaName], [CityId]) VALUES (1, N'Area1', 1)
INSERT [dbo].[Area] ([AreaId], [AreaName], [CityId]) VALUES (2, N'Area2', 1)
INSERT [dbo].[Area] ([AreaId], [AreaName], [CityId]) VALUES (3, N'Area3', 2)
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityId], [CityName], [State]) VALUES (1, N'City1', N'State1')
INSERT [dbo].[City] ([CityId], [CityName], [State]) VALUES (2, N'City2', N'State2')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustId], [CustName], [CustMobNo], [Address], [SubAreaId]) VALUES (1, N'Cust1', N'999999999', N'Add1', 1)
INSERT [dbo].[Customer] ([CustId], [CustName], [CustMobNo], [Address], [SubAreaId]) VALUES (2, N'Cust2', N'888888888', N'Add2', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[SubArea] ON 

INSERT [dbo].[SubArea] ([SubAreaId], [SubAreaName], [AreaId]) VALUES (1, N'SubArea1', 1)
INSERT [dbo].[SubArea] ([SubAreaId], [SubAreaName], [AreaId]) VALUES (2, N'SubArea2', 1)
INSERT [dbo].[SubArea] ([SubAreaId], [SubAreaName], [AreaId]) VALUES (3, N'SubArea3', 2)
SET IDENTITY_INSERT [dbo].[SubArea] OFF
ALTER TABLE [dbo].[Area]  WITH CHECK ADD  CONSTRAINT [FK_Area_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Area] CHECK CONSTRAINT [FK_Area_City]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_SubArea] FOREIGN KEY([SubAreaId])
REFERENCES [dbo].[SubArea] ([SubAreaId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_SubArea]
GO
ALTER TABLE [dbo].[SubArea]  WITH CHECK ADD  CONSTRAINT [FK_SubArea_Area] FOREIGN KEY([SubAreaId])
REFERENCES [dbo].[Area] ([AreaId])
GO
ALTER TABLE [dbo].[SubArea] CHECK CONSTRAINT [FK_SubArea_Area]
GO
USE [master]
GO
